
	<div class="col-md-4">
		<figure class="card card-product-grid">
			<div class="img-wrap">

				<a href=""><img  style="height: 400px; width: 400px;" src="{{ single_product.images.url }}"></a>

			</div> <!-- img-wrap.// -->
			<figcaption class="info-wrap">
				<div class="fix-height">
					<a href="" class="title">{{ single_product.product_name }}</a>
					<div class="price-wrap mt-2">
						<span class="price">$ {{ single_product.description }}</span>
					</div> <!-- price-wrap.// -->
				</div>
				
			</figcaption>
		</figure>
	</div> 
